* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
  overflow: hidden;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  background: #121212;
  color: #eee;
}

.clickable {
  color: #87cefa;
  cursor: pointer;
}
.clickable:hover {
  text-decoration: underline;
  text-underline-offset: 4px; /* adjust for desired gap */
  text-decoration-thickness: 1px;
}

/* tabulator overrides - start */

.tabulator-row.tabulator-row-even {
  background-color: #444;
}

.tabulator-row.tabulator-row-odd {
  background-color: #444;
}
/* tabulator overrides - end */
